{% extends "Layout.html" %}
{% block content %}

<style>
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>

<div class="pure-g">
  <div class="pure-u-6-24">
  </div>
  <div class="pure-u-12-24">

    <div id="first-panel">
      <div class="content">
        <h1 class = "content-head is-center"> Welcome Back, {{ name }} </h1>
        <h2 class="content-head is-center">Update your account information</h2>
        <hr>

        <form class="pure-form pure-form-stacked">
          <fieldset>

            <div class="pure-g">

              <div class="pure-u-1 pure-u-md-1-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label for="account-name">Name <b style="color: red;">*</b></label>
                <input id="account-name" class="pure-u-20-24" name="account-name" type="text" placeholder="Name" value="{{ name }}">
              </div>

              <div class="pure-u-1 pure-u-md-3-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label for="account-type">Account type</label>
                <input id="account-type" class="pure-u-20-24" name="account-type" type="text" value="{{ accType }}" disabled>
              </div>

              <!-- one row -->

              <div class="pure-u-1 pure-u-md-1-24">
              </div>

            {% if accType|lower == "customer" %}
              <div class="pure-u-1 pure-u-md-10-24">
                <label for="account-creditCard">Credit Card</label>
                <input id="account-creditCard" class="pure-u-20-24" name="account-creditCard" type="text" placeholder="Credit Card Number" value="{{ creditCard }}">
              </div>
            {% endif %}

           {% if accType|lower == "employee" %}
              <div class="pure-u-1 pure-u-md-3-24">
              </div>

              <div class="pure-u-1 pure-u-md-10-24">
                <label for="chef-employee-number">Employee SIN Number</label>
                <input id="chef-employee-id" class="pure-u-20-24" name="chef-employee-id" type="text" value="{{ employeeId }}" disabled>
              </div>
           {% else %}
              <div class="pure-u-1 pure-u-md-13-24">
              </div>
           {% endif %}

              <!-- other row -->

              <div class="pure-u-1 pure-u-md-1-24">
              </div>

              <div class="pure-u-1 pure-u-md-13-24">
              </div>

              <!-- row -->
            </div>

            <!-- button row -->
            <div class="pure-g" style="padding-top: 45px;">
              <div class="pure-u-1 pure-u-md-18-24">
              </div>

              <div class="pure-u-1 pure-u-md-2-24">
                <button id="save-btn" class="pure-button pure-button-primary" type="button">Save</button>
              </div>

              <div class="pure-u-1 pure-u-md-4-24">
              </div>

            </div>

          </fieldset>
        </form>

      </div>
    </div>
    <hr>

  </div>
  <div class="pure-u-6-24">
  </div>
</div>


<script>
$("#save-btn").click(function () {
   if ($("#account-name").val().trim() === '') {
      alert("Name is missing. Fill out and try again.");
      return;
   }

   $.ajax({
      url: "/account/update",
      type: "POST",
      data: {
         "account-name": $("#account-name").val(),
         "account-phone": $("#account-phone").val(),
         "account-address": $("#account-address").val()
      },
      success: function (data) {
         alert("Account information successfully saved.");
      },
      error: function (data) {
         alert("Account information failed to save. Try again.");
      }
   });
});
</script>
{% endblock %}
