<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Showtimes</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="/css/pages/ShowtimesPage.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.4.1/css/bootstrap-slider.min.css">

    </head>

    <body>

        <nav class="navbar navbar-fixed-top navbar-warm">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img id="logo" src="/img/logo.png" width="100px"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if accType == null %}
                            <li><a href="/login">Login</a></li>
                        {% else %}
                            {% if accType|lower == "employee" %} 
                                <li><button type="button" class="btn btn-primary btn-nav" data-toggle="modal" data-target="#addMovie" id="insert-movie">Add Movie</button></li>
                            {% endif %}
                            <li><a href="/account">Hello {{name}}</a></li>
                            <li><a href="#" id="signout-link">Sign off</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-3 sidebar">
                    <div class="filter" id="movie">
                        <label for="select-movie">Movie</label>
                        <select class="selectpicker form-control" data-live-search="true" data-container="body"
                            data-dropup-auto="false" title="Search Movies"
							id="select-movie"></select>
                    </div>
                    <div class="filter" id="rating">
                        <label for="select-rating">Rating</label>
                        <select class="selectpicker form-control" data-container="body"
                            data-dropup-auto="false" title="All Ratings" multiple
							id="select-rating"></select>
                    </div>
                    <div class="filter" id="year">
                        <div>
                            <label>Release Year</label>
                        </div>
                        <div class="slider">
                            <input id="select-year" type="text" class="span2" value=""
                                data-slider-step="1"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main">
                    <div class="narrow-list" id="showcards">
                        
                    </div>
                </div>
            </div>
        </div>
        

        <!--Add movie modal-->
        <div class="modal fade" id="addMovie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Add Movie</h4>
                    </div>
                    <div class="modal-body">
                        <form data-toggle="validator" role="form" id="addMovieForm">
                            <div class="form-group">
                                <label for="title" class="control-label">Title</label>
                                <input type="text" class="form-control" id="title" required>
                            </div>
                            <div class="form-group">
                                <label for="year" class="control-label">Release Year</label>
                                <input type="text" pattern="^[1-2]+[0-9]{3}$" maxlength="4" class="form-control" id="ayear" required>
                            </div>
                            <div class="form-group">
                                <label for="arating" class="control-label">Rating</label>
                                <select class="selectpicker form-control" id="arating" required>
                                    <option>G</option>
                                    <option>PG</option>
                                    <option>14A</option>
                                    <option>18A</option>
                                    <option>R</option>
                                    <option>A</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="length" class="control-label">Runtime</label>
                                <input type="text" pattern="^[1-9]+[0-9]*$" maxlength="3" class="form-control" id="length" required>
                            </div>
                            <div class="form-group">
                                <label for="hall" class="control-label">Theatre Hall</label>
                                <select class="selectpicker form-control" id="hall" required></select>
                            </div>
                            <div class="form-group">
                                <label for="datetime0" class="control-label">Showtimes</label>
                                <div><input type="time" class="form-control" id="datetime0" required></div>
                            </div>
                            <div id="starttimes"></div>
                            <input class="btn btn-default btn-xs btn-modal" id="addstarttime" type="button" value="Add Showtime">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--update movie modal-->
        <div class="modal fade" id="updateMovie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Update Movie</h4>
                    </div>
                    <div class="modal-body">
                        <form data-toggle="validator" role="form" id="updateMovieForm">
                            <div class="form-group">
                                <label for="title" class="control-label">Title</label>
                                <input type="text" class="form-control" id="utitle" disabled>
                            </div>
                            <div class="form-group">
                                <label for="year" class="control-label">Release Year</label>
                                <input type="text" pattern="^[1-2]+[0-9]{3}$" maxlength="4" class="form-control" id="uyear" disabled>
                            </div>
                            <div class="form-group">
                                <label for="arating" class="control-label">Rating</label>
                                <select class="selectpicker form-control" id="urating" required>
                                    <option>G</option>
                                    <option>PG</option>
                                    <option>14A</option>
                                    <option>18A</option>
                                    <option>R</option>
                                    <option>A</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="length" class="control-label">Runtime</label>
                                <input type="text" pattern="^[1-9]+[0-9]*$" maxlength="3" class="form-control" id="ulength" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--error modal-->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Placing scripts at end so the pages load faster -->
        <script src="/js/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/js/ShowtimesPage.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.4.1/bootstrap-slider.min.js"></script>
    </body>
</html>