{% extends "Layout.html" %}
{% block content %}
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<title>Purchase Tickets</title>
	<style type="text/css">
		h1 { font-family: monospace; }
		h2 { font-family: monospace; font-size: 20px; }
		div { text-align: center; }
		.first-panel {
			border: 4px solid white;
			background-color: white;
			height: 800px;
			width: 1200px;
			margin: auto;
			padding: 20px;
		}
	</style>
</head>

<html>
<body>
	<p></p>
	<div class="first-panel">
		<h1>Movie Details</h2>
		<div id="showcards">
			<div class="well showcard"></div>
		</div>
		
		<div>
			<h1>Ticket Quantity</h2>
			<select id="QtyDropDown">
				<option>1 seat</option>
				<option>2 seats</option>
				<option>3 seats</option>
				<option>4 seats</option>
				<option>5 seats</option>
			</select>
		</div>
	
		<p></p>	
		<h1>Food Bundling Options</h1>
			<label id="Popcorn">Popcorn </label><input type="text" size="10" placeholder="quantity" id="PopcornQty"></br>
			<label id="Pretzels">Pretzels </label><input type="text" size="10" placeholder="quantity" id="PretzelsQty"></br>
			<label id="Corndogs">Corndogs </label><input type="text" size="10" placeholder="quantity" id="CorndogsQty"></br>
			<label id="Poutine">Poutine </label><input type="text" size="10" placeholder="quantity" id="PoutineQty"></br>
			<label id="Nachos">Nachos </label><input type="text" size="10" placeholder="quantity" id="NachosQty">
		
		<p></p>
		<div>
			<button id="btnSubmit">Submit</button></div>
		</div>
	</div>
	
	<script>
		$(document).ready(function() {	
			$.ajax({
				url: "/BuyTickets/populate-movies",
				type: "GET",

				success: function (data) {
					console.log(data);
					var selector = $("#select-movie");
					populateHelper(JSON.parse(data), selector, "Title");
					populateMovies(JSON.parse(data));
				},
				error: function() {
					alert("Something failed");
				}
			});
		
			function populateMovies(data) {
				var selector = $("#showcards");
				selector.empty();
				for (var i = 0; i < data.length; i++) {
					selector.append("<div class='well showcards'>" + JSON.stringify(data[i]) + "</div>");
				}      
			}

			function populateHelper(data, selector, key) {
				var temp = [];
				selector.empty();
				selector.append('<option></option>'); //blank option to "deselect"
				for (var i = 0; i < data.length; i++) {
					if (!temp.includes(data[i][key])) {
						selector.append('<option>' + data[i][key] + '</option>');
						temp.push(data[i][key]);
					}
				}
			}    
		});
		
		$("#btnSubmit").click(function() {
			var dropDown = $("#QtyDropDown").val();
			var popcornQty = $("#PopcornQty").val();
			var pretzelsQty = $("#PretzelsQty").val();
			var corndogsQty = $("#CorndogsQty").val();
			var poutineQty = $("#PoutineQty").val();
			var nachosQty = $("#NachosQty").val();
			
			alert("You have successfully purchased " + dropDown);
		
			$.ajax({
				url: "/BuyTickets",
				type: "GET",
				success: function () {
					window.location.replace("/account");
				}
			});
		});
	</script>
</body>
</html>
{% endblock %}