{% extends "Layout.html" %}
{% block content %}

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta charset="utf-8">
  <title>Tickets</title>
  <style type="text/css">
    h1 {
      font-family: monospace;
    }
    div {
      text-align: center;
    }
  </style>
</head>

<html>
<body>

<div>

  <h1>THE BEST HTML PAGE YOU HAVE EVER SEEN! (LITERALLY)</h1>
  
  <script>
	// my code will go here
  </script>
  
</div>

</body>
</html>

{% endblock %}