{% extends "Layout.html" %}
{% block content %}
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta charset="utf-8">
	<title>Purchase Tickets</title>
	<style type="text/css">
		div { text-align: center; }
		.first-panel {
			border: 4px solid white;
			background-color: white;
			height: 800px;
			width: 1200px;
			margin: auto;
			padding: 20px;
		}
		.second-panel {
			border: 2px solid blue;
			width: 500px;
			margin: auto;
			padding: 10px;
			text-align: left;
		}
	</style>
</head>

<html>
<body>
	<div class="first-panel">
		<p></p>
		<div class="second-panel">
			<h2>Movie Details</h2>
			<label>Title:</label><p id="movie-title">{{title}}</p>
			<label>Released in: </label><p id="ryear">{{ryear}}</p>
			<label>Hall Number:</label><p id="movie-hall">{{hnumber}}</p>
			<label>Start Time:</label><p id="movie-stime">{{stime}}</p>
			<label>Ticket Price:</label><p id="movie-price">{{tprice}}</p>	
		</div>
		
		<p></p>
		<div class="second-panel">
			<h3>How many seats do you need?</h3>
			<select id="QtyDropDown">
				<option value="1">1 seat</option>
				<option value="2">2 seats</option>
				<option value="3">3 seats</option>
				<option value="4">4 seats</option>
				<option value="5">5 seats</option>
			</select>
	
			<h3>Choose a snack to enjoy with your movie.</h3>
			<select id="FoodChoice">
			<fieldset>
				<option type="radio" name="food">Popcorn<br>
				<option type="radio" name="food">Pretzels<br>
				<option type="radio" name="food">Corndogs<br>
				<option type="radio" name="food">Poutine<br>
				<option type="radio" name="food">Nachos<br>
			</fieldset>
			</select>
		</div>
		
		<p></p>
		{% if accType|lower == "customer" %}
		<div>
			<button id="btnSubmit" class="pure-button pure-button-primary" type="button">Purchase!</button>
			<button id="cancelSubmit" class="pure-button pure-button-primary" type="button">Back to Showtimes</button>
		</div>

		{% else %}
		<div>
			<button id="LogIn-Submit" class="pure-button pure-button-primary" type="button">Submit</button></div>
		</div>
		{% endif %}
	</div>
	</body>
</html>
	<script>
		$("#LogIn-Submit").click(function () {
			alert("Please login as a customer to purchase tickets. Redirecting to login page");
			window.location.replace("/login");
		});

		$("#btnSubmit").click(function() {
			var dropDown = $("#QtyDropDown").val();
			var fType = $("#FoodChoice").val();
			
			$.ajax({
				url: "/BuyTickets/createTicket",
				type: "POST",
				data: {
					"title": $("#movie-title").val(),
					"ryear" : $("#ryear").val(),
					"qty" : $("#QtyDropDown").val(),
					"tprice" : $("#movie-price").val(),
					"stime" : $("#movie-stime").val(),
				},
				
				success: function () {
					// now do the next AJAX
				},

				error: function() {
					alert("Whoops! Something went wrong, please try again.");
				}
			});
			
			$.ajax({
				url: "/BuyTickets/createBundle",
				type: "POST",
				data: {
					"fType" : fType,
					"title": $("#movie-title").val(),
					"ryear" : $("#ryear").val()
				},
				
				success: function () {
					alert("You have successfully purchased " + dropDown + " seat(s) and a " + $("#FoodChoice").val());
					window.location.replace("/account");
				},

				error: function() {
					alert("Whoops! Something went wrong, please try again.");
				}
			});
		})
		
		$("#cancelSubmit").click(function() {
			window.location.replace("/showtimes");
		})
	</script>
{% endblock %}